# data structures in python

In [7]:
list1 = ["a", 5, "b", True, 5, "abc"]
print(list1)

['a', 5, 'b', True, 5, 'abc']

In [8]:
print(type(list1))

<class 'list'>

In [9]:
list2 = list("abc def ghi")
print(list2)

['a', 'b', 'c', ' ', 'd', 'e', 'f', ' ', 'g', 'h', 'i']

In [10]:
list3 = []
print(list3)

[]

In [11]:
list3.append("append into empty list")
print(list3)

['append into empty list']

In [12]:
list3.append(1)

In [13]:
print(list3)

['append into empty list', 1]

In [14]:
list1.insert(3,"hello")

In [15]:
list1

['a', 5, 'b', 'hello', True, 5, 'abc']

In [17]:
list1.extend(list2)

In [18]:
list1

['a',
 5,
 'b',
 'hello',
 True,
 5,
 'abc',
 'a',
 'b',
 'c',
 ' ',
 'd',
 'e',
 'f',
 ' ',
 'g',
 'h',
 'i',
 'a',
 'b',
 'c',
 ' ',
 'd',
 'e',
 'f',
 ' ',
 'g',
 'h',
 'i']

In [20]:
my_list = ["Lesson", 5, "Is Fun?", True]
my_list.remove("Lesson")
print(my_list)

[5, 'Is Fun?', True]

In [21]:
my_list.pop()   #by default pops last but can be poped by giving index l.pop(index)
print(my_list)

[5, 'Is Fun?']

In [22]:
anotherlist=["Hello", "my", "bestest", "friend"]
anotherlist[2]="new"
print(anotherlist)
del anotherlist[2]
print(anotherlist)

['Hello', 'my', 'new', 'friend']
['Hello', 'my', 'friend']

In [25]:
li = ["1",2,"abc"] # del list :- deletes entire list
del li

In [26]:
print(li) # entire list deleted so error

NameError: name 'li' is not defined

In [27]:
num_list=[1,3,5,7,9]
print(len(num_list))
print(max(num_list))
print(min(num_list))
print(sum(num_list))
print(sum(num_list)/len(num_list))

5
9
1
25
5.0

In [28]:
l=[1,2,3,4]
print(1 in l)
print(5 in l)
print(1 not in l)

True
False
False

In [29]:
print([1,1,2,3,4,5,5,5,5].count(5))

4

In [30]:
new_list=[1,5,4,2,3,6]
new_list.reverse()
print("Reversed List:", new_list)
new_list.sort()
print("Ascending Sorted List:", new_list)
new_list.sort(reverse=True)
print("Descending Sorted List:", new_list)

Reversed List: [6, 3, 2, 4, 5, 1]
Ascending Sorted List: [1, 2, 3, 4, 5, 6]
Descending Sorted List: [6, 5, 4, 3, 2, 1]

In [33]:
l=[5,2,4,3,1,7,6]
l.sort()
print("sorted list",l)
l.sort(reverse=True)
print("reversed list",l)

sorted list [1, 2, 3, 4, 5, 6, 7]
reversed list [7, 6, 5, 4, 3, 2, 1]

In [35]:
mytuple=(1,2,3)   # tuples cant be modified
print(mytuple)
print(type(mytuple))

(1, 2, 3)
<class 'tuple'>

In [36]:
tuple2 = tuple(l)
print(tuple2)

(7, 6, 5, 4, 3, 2, 1)

In [44]:
mydict={'name':'abc', "age": 12, "city": "vizag"}
print(mydict)         #dict has key value pair
print(type(mydict))

{'name': 'abc', 'age': 12, 'city': 'vizag'}
<class 'dict'>

In [45]:
mydict['age']=15
print(mydict)

{'name': 'abc', 'age': 15, 'city': 'vizag'}

In [46]:
mydict['Gender']='Male'
print(mydict)

{'name': 'abc', 'age': 15, 'city': 'vizag', 'Gender': 'Male'}

In [47]:
mydict.pop('age')
print(mydict)

{'name': 'abc', 'city': 'vizag', 'Gender': 'Male'}

In [48]:
len(mydict)

3

In [50]:
"name" in mydict

True

In [51]:
"Name" in mydict

False

In [52]:
print(mydict.keys())
print(mydict.values())

dict_keys(['name', 'city', 'Gender'])
dict_values(['abc', 'vizag', 'Male'])

In [53]:
print(mydict.items())

dict_items([('name', 'abc'), ('city', 'vizag'), ('Gender', 'Male')])

In [55]:
mytabledict={'name':["A", "B", "C"], 'age':[10,20,30], 'city':['abc', 'def', 'ghi'
]}
print(mytabledict)    #can include list or tuple or set in values segment

{'name': ['A', 'B', 'C'], 'age': [10, 20, 30], 'city': ['abc', 'def', 'ghi']}

In [56]:
myset={1,2,3,4,5,6,7,8,9}  # sets have no duplicates
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [58]:
set_list=[1,2,3,3,4,4,5,6,6,6,6,'aa','aa']
mynewset=set(set_list)
print(mynewset)        # duplicates are not added into set from list

{1, 2, 3, 4, 5, 6, 'aa'}

In [67]:
myset.add(10)
print(myset)
myset.update([11,12,13,14,15])
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [68]:
myset.remove(1)
print(myset)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [69]:
myset.discard(12)
print(myset)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15}

In [70]:
set1={1,3,5,6}
set2={1,2,3,4}
set1.union(set2)

{1, 2, 3, 4, 5, 6}

In [71]:
print(set1.difference(set2))
print(set2.difference(set1))

{5, 6}
{2, 4}

In [73]:
#set.difference_update({1,2,3,4....}) can be used to remove ultiple elements from set at a time
#or set -={1,2,3,4....} can be used

In [74]:
set1={1,3,5,6}
set3={1,3,6}
print(set1.issubset(set3))
print(set3.issubset(set1))

False
True

In [77]:
list11=[1,2,2,2,3,3,4,4,4,5,5,6,6,]
set(list11)

{1, 2, 3, 4, 5, 6}

In [78]:
len(set(list11))

6

# control flow and looping

In [79]:
x=1
y=2
if x>y:
    print("x is greater than y")
else:
    print("x is not greater than y")

x is not greater than y

In [80]:
days=int(input("How many days are there in a leap year?\n"))
if days == 366:
    print("Congratulations")
else:
    print("Please re-do the test")

How many days are there in a leap year?
366
Congratulations

In [81]:
answer=input("Is Python an Interpreted Language? Yes or No?\n").lower()
if answer=="yes":
    print("You have cleared the Test")   #lower() is used for lower case answer
else:
    print("You have failed the test")
print("Thanks for appearing")

Is Python an Interpreted Language? Yes or No?
no
You have failed the test
Thanks for appearing

In [82]:
response=input("Which python datatype is an ordered sequence?\n").lower()
print("You entered: ", response)
if response=="list":
    print("You have cleared the test.")
elif response=="tuple":
    print("You have cleared the test.")
else:
    print("Your input is wrong. Please try again!")

Which python datatype is an ordered sequence?
list
You entered:  list
You have cleared the test.

In [83]:
response = int(input("How many days are there in a leap year? "))
print("You entered:", response)
if response == 366 :
    print("You have cleared the first level.")
    response = input("What month has an extra day in leap year?? ").lower()
    if response == "february" :
        print("You have cleared the test.")
    else:
        print("You have failed the test.")
else:
    print("Your input is wrong, please try again.")

How many days are there in a leap year? 366
You entered: 366
You have cleared the first level.
What month has an extra day in leap year?? february
You have cleared the test.

In [84]:
length=int(input("Enter Length:"))
breadth=int(input("Enter Breadth:"))
if length==breadth:
    print("it is a square")
else:
    print("it is a rectangle")

Enter Length:3
Enter Breadth:5
it is a rectangle

In [85]:
quantity=int(input("Enter the quantity:"))
if quantity*100>1000:
    print("Cost is: ", ((quantity*100)-(0.1*quantity*100)))
    print("Discount is: ", (0.1*quantity*100))
else:
    print("Cost is:", quantity*100)
    print("Discount is: ", 0)

Enter the quantity:20
Cost is:  1800.0
Discount is:  200.0

In [86]:
salary=int(input("Enter the Salary: "))
yos=int(input("No. of Years of Service: "))
if yos>=5:
    print("Bonus is", 0.05*salary)
else:
    print("Sorry No Bonus")

Enter the Salary: 1000
No. of Years of Service: 5
Bonus is 50.0

In [87]:
for i in range(10,100,5): # start=10,end=100,step=5
    print(i,end=" ")   #end =" " used to present in one line

10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95

In [88]:
for letter in "Welcome to Python":
    if letter == "o":
        print('Current Letter:',letter)
    else:
        print("Current Letter is not 'o':", letter)

Current Letter is not 'o': W
Current Letter is not 'o': e
Current Letter is not 'o': l
Current Letter is not 'o': c
Current Letter: o
Current Letter is not 'o': m
Current Letter is not 'o': e
Current Letter is not 'o':
Current Letter is not 'o': t
Current Letter: o
Current Letter is not 'o':
Current Letter is not 'o': P
Current Letter is not 'o': y
Current Letter is not 'o': t
Current Letter is not 'o': h
Current Letter: o
Current Letter is not 'o': n

In [89]:
mysequence=tuple(range(0,101,10))
for number in mysequence:
    print(number)

0
10
20
30
40
50
60
70
80
90
100

In [90]:
list1=range(2000,2050)
z=[]
for i in list1:
    if i%7==0 and i%5==0:
        i+=1
    elif i%7==0:
        z.append(i)
        i+=1
print(z)

[2002, 2009, 2016, 2023, 2037, 2044]

In [91]:
w=[]
st = "hello how are you? hope you're doing good"
z=st.split()
for i in z:
    if len(i)%2==0:
        w.append(i)
print(w)

['you?', 'hope', "you're", 'good']

In [92]:
x=5
i=0
while i<x: #print as long as the iteration(i) is less than x
    print(i)
    i=i+1

0
1
2
3
4

In [93]:
z="This is Great Gurgaon Gram City Clean Class"
x=input("Words starting with which alphabet should be extracted?\n").upper()
k=z.split()
w=len(k)
t=0                  #upper() is used as every word starts with ^ letter
while t<w:
    if k[t][0] == x:
        print(k[t])
        t+=1
    else:
        t+=1

Words starting with which alphabet should be extracted?
c
City
Clean
Class

In [94]:
x = 100
while x < 110:
    print(x)
    if x==103:
        break
    x=x+1

100
101
102
103

In [95]:
for i in range(1,15):
    if(i%5==0):
        print(i)           #continue :- interrupts at current iteration and jumps to next iteration
        continue         
    else:
        pass               #pass :- it does nothing just passes the statement to next line and executes it
        print("okay")

okay
okay
okay
okay
5
okay
okay
okay
okay
10
okay
okay
okay
okay