In [1]:
x=123 
y="abcd" 
z=True
print (x)
print (y)
print (z)

123
abcd
True

In [2]:
x=1
print(x)
x=3
print (x)

10
5

In [4]:
X=12
print(X)
print(x)

12
5

In [5]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'bool'>

In [7]:
((2+3) * 5 )**2

625

In [8]:
a = 10
a += 5
print ("Line 1 - Value of a is ", a)
a-=1
print ("Line 2 - Value of a is ", a)
a*=2
print ("Line 3 - Value of a is ", a)
a/=3
print ("Line 4 - Value of a is ", a)
a%=4
print ("Line 5 - Value of a is ", a)
a**=5
print ("Line 6 - Value of a is ", a)
print("Check", 3*3*3*3*3*3*3*3*3)
a//=6
print ("Line 7 - Value of a is ", a)
print ("Check:", 12345678//9)

Line 1 - Value of a is  15
Line 2 - Value of a is  14
Line 3 - Value of a is  28
Line 4 - Value of a is  9.333333333333334
Line 5 - Value of a is  1.333333333333334
Line 6 - Value of a is  4.213991769547334
Check 19683
Line 7 - Value of a is  0.0
Check: 1371742

In [9]:
x=100
y=999999
x==y
print("Is x == y?", x==y)
x!=y
print("Is x!=y?", x!=y)
x>y
print("Is x>y?", x>y)
x<y
print("Is x<y?", x<y)
x>=y
print("Is x>=y?", x>=y)
x<=y
print("Is x<=y?", x<=y)

Is x == y? False
Is x!=y? True
Is x>y? False
Is x<y? True
Is x>=y? False
Is x<=y? True

In [12]:
x>0 or y<1111

True

In [13]:
x>=1 and y>1000000000

False

In [14]:
not (x>=50 and y>150)

False

In [15]:
x is y

False

In [16]:
a=1
b=1
c=1
print(id(a), id(b), id(c))

9756192 9756192 9756192

In [18]:
print(id(a+1),id(b+1),id(c+1))

9756224 9756224 9756224

In [24]:
x=500
y=500
print(id(x),id(y))

140384098990032 140384098989840

In [25]:
x is y

False

In [22]:
s1='hello'
s2='hello'
id(s1), id(s2)

(140384099007536, 140384099007536)

In [23]:
s1==s2

True

In [31]:
A = " Python Is a Language"  #A is a string
print(A.strip())
print(A)         #strip() removes spaces in beginning and end of string

Python Is a Language
 Python Is a Language

In [32]:
print(len(A)) # including spaces

21

In [33]:
A.upper()

' PYTHON IS A LANGUAGE'

In [34]:
A.lower()

' python is a language'

In [35]:
print(A.count('a'))

3

In [38]:
x = float(input("Number:"))

Number:123

In [39]:
print(type(x))

<class 'float'>

In [40]:
print(A.title()) # every letter after space is capital and start of string even

 Python Is A Language

In [45]:
s="as asfd sfg hdt were"
s[4]

's'

In [46]:
s[1:5]

's as'

In [47]:
s.replace('a','1')

'1s 1sfd sfg hdt were'

In [49]:
s.split('a') # into a list with give delimeter

['', 's ', 'sfd sfg hdt were']

In [51]:
String = "Hasdfghjkl"
print(String + " 123456")

Hasdfghjkl 123456

In [52]:
name = "abc"
age = 12
city = "xyz"
String1 = "My name is {} I am {} and I live in {}"
String1.format(name, age, city)

'My name is abc I am 12 and I live in xyz'

In [54]:
x=input("Enter your name:")
print("hello :),", x)

Enter your name:abc
hello :), abc